.showcase-cards {
  padding: 0 100vw;
  margin: 0 -100vw;
  background-color: $grey;

  &__inner {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    h2 {
      text-align: center;
    }
  }

  &__cards {
    padding: 50px 0 0;
    display: flex;
    flex-direction: column;
    margin: 0 0 -20px;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 -20px -20px;
    }
  }
}

.showcase-card {
  padding: 20px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 0 20px;
  text-align: center;
  background-color: white;

  &__icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    padding-top: 20px;
    h3 {
      font-size: 1.1rem;
    }
    p {
      margin-top: 10px;
    }
  }
  @media (min-width: 768px) {
    margin: 0 20px 40px;
    width: calc(33.333333% - 40px);
  }
}
